@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root{
  --background: linear-gradient(to right, #2e2d2d, #141414);
  --burger_background: linear-gradient( to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  --hover: #daa515;
  --text_color: #ffffff;
  --home_text: #fff;
  --home_img: #5f5a5aa1;
  --extra_background: #423f3e69;
  --name_color: #daa515;
  --box_background: #222121;
  --box_shadow: #423f3e;
  --footer_background: #222121;
  --box_gradient_border: rgb(50, 48, 48);
  --icon_color: #fceec8;
}

*{
  letter-spacing: 1.2px;
  word-spacing: 3px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: var(--background);
}

a{
  text-decoration: none;
  color: var(--text_color);
}

.main{
  background: var(--background);
  display: flex;
  justify-content: space-around;
}

.nav{
  position: relative;
  display: flex;
  height: 50px;
}

.port{
  position: relative;
  background: var(--background);
  width: 100%;
}

.nav_bar{
  padding: 20px 50px;
  position: absolute;
  text-transform: uppercase;
  font-size: medium;
}

.nav .nav_bar:nth-child(1){
  left: 0;
}

.contact{
  right: 0;
}

.nav_bar span{
  margin-right: 20px;
  margin-left: 10px;
}

.nav_bar span a:hover, label:hover{
  cursor: pointer;
  color: var(--hover);
}

.contact span:nth-child(1), .contact span:nth-child(4), #nav_checkbox{
  display: none;
}

.active{
  color: var(--hover);
}

.nav_bar span a, label{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.dark::before{
  content: 'light';
}

.projects_text a::after{
  content: 'projects';
}

.skills_text a::after{
  content: 'skills';
}

.contact_text a::after{
  content: 'contact';
}

.home_text a::after{
  content: 'home';
}

label{
  color: var(--text_color);
}

#checkbox{
  display: none;
}

#checkbox:checked ~ .main{
  --background: linear-gradient( to right, #F4F9F9, #d3dada);
  --home_text: #212122;
  --text_color: #212122;
  --hover: #9462a5;
  --name_color: #482f50;
  --box_background: #e9e9e9;
  --box_shadow: #c7c7c7;
  --footer_background: #e9e9e9;
  --box_gradient_border: #d8d8d8;
  --icon_color: #1b0224;
  --burger_background: linear-gradient( to right, rgba(219, 188, 214, 0.7), rgba(218, 182, 213, 0.9));

}

#checkbox:checked ~.main .port .nav .nav_bar span .dark::before{
  font-weight: 400;
  content: 'dark';
}

#checkbox:checked ~.main .port .nav .nav_bar span a{
  font-weight: 400;
}

#checkbox:checked ~.main .port .Home p{
  font-weight: 400;
}

.extra_tab{
  border-radius: 10px;;
  background: var(--extra_background);
  position: absolute;
  height: 180px;
  width: 180px;
  top: 50%;
  left: 150px;
  transform: translateY(-50%) rotateZ(-45deg);
}
.Home{
  height: calc(100vh - 50px);
}
.about{
  padding: 20px 50px;
  color: var(--home_text);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.about h1{
  font-size: 40px;
  font-weight: 800;
  margin: 5px 0;
}

.about p{
  font-size: small;
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--home_text);
}

.color{
  color: var(--name_color);
}

.image{
  position: absolute;
  right: 100px;
  top: 50%;
  width: 400px;
  height: 400px;
  transform: translateY(-50%) rotateZ(-45deg);
  background: var(--home_img);
  border-radius: 30px;
  z-index: 1;
}

.pro, .boxes{
  width: 100%;
}

.pro{
  padding: 20px 50px;
  height: auto;
}

.Projects{
  background: var(--background);
}

.boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box{
  width: 100%;
  height: 250px;
  background: linear-gradient(to right bottom, var(--box_background), var(--box_shadow));
  margin: 25px 0;
  display: flex;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 0 5px 5px var(--box_gradient_border) inset;
}

.view, .text{
  margin: 0 15px;
  height: calc(100% - 30px);
  border-radius: 10px;
}

.view{
  width: 250px;
  overflow: hidden;
  position: relative;
}

.text{
  color: var(--text_color);
  position: relative;
  width: calc(90% - 250px);
}

.details > p{
  height: 125px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 15px 0;
  font-weight: 100;
  line-height: 22px;
}

.details h2 a{
  text-transform: uppercase;
  color: var(--text_color);
}

.links{
  background: var(--text_color);
  position: absolute;
  bottom: 40px;
}

.links div{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.icon{
  width: 40px;
  border-radius: 50%;
  background: var(--background);
  z-index: 1;
}

.link a{
  color: var(--text_color);
}

.link a:hover{
  color: var(--hover);
}

.icon:hover ~ .link{
  transition: 0.5s;
  overflow: visible;
  width: auto;
  padding: 0 15px 0 50px;
}

.link:hover{
  overflow: visible;
  width: auto;
  padding: 0 15px 0 50px;
}

.link{
  border-radius: 25px;
  left: 2px;
  background: var(--background);
  width: 0;
  overflow: hidden;
}

.view img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.view img:hover{
  transition: 0.5s;
  transform: scale(1.1);
  opacity: 0.8;
}

#more_item{
  display: none;
}

.extra, .less{
  height: 0;
  overflow: hidden;
}

.next{
  display: flex;
  justify-content: right;
}

#more_item:checked ~ .extra,#more_item:checked ~ .less{
  height: auto;
  overflow: visible;
}

#more_item:checked ~ .more{
  height: 0;
  overflow: hidden;
}

.box h2 a:hover{
  color: var(--hover);
}

.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color:var(--text_color);
  background: linear-gradient(to right bottom, var(--box_background), var(--box_shadow));
  box-shadow: 0 -5px var(--box_shadow);
}

.foot{
  float: left;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  width: 20%;
  min-width: 200px;
}

.foot ul{
  list-style-type: initial;
}

.foot a{
  color: var(--text_color);
}

.foot a:hover{
  color: var(--hover);
}

.foot b{
  color: var(--text_color);
}


/* SKILLS PAGE */


.Skills{
  background: var(--background);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px 50px;
}

.skill{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  color: var(--icon_color);
  align-items: center;
  margin: 30px 20px;
}

.icon_section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: linear-gradient(to right bottom, var(--box_background), var(--box_shadow));
  box-shadow: 0 0 5px 5px var(--box_gradient_border) inset;
}

.icon_section span{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 90px;
}

.icon_section span:hover{
  transition: 0.1s;
  font-size: 100px;
}

.icon_section span:hover, .skill > span:hover{
  color: var(--hover);
}

.skill > span{
  color: var(--text_color);
  padding-top: 20px;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}

.Contact_info{
  min-height: calc(100vh - 50px);
  background: var(--background);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px 50px;
}
.contacts{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  color: var(--icon_color);
  align-items: center;
  margin: 30px 20px;
}

.contacts > span{
  color: var(--text_color);
  padding-top: 20px;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
}

.contacts > span:hover{
  color: var(--hover);
}


@media screen and (max-width: 1024px) {
  .image{
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width:768px) {
  .image{display: none;}

  .nav_bar, .about{
    padding: 20px 25px;
  }
  .extra_tab{
    left: 125px;
  }

  .box{
    height: 200px;
    margin: 25px 0 15px 0;
  }
  .view{
    width: 200px;
    overflow: hidden;
    position: relative;
  }
  .text{
    width: calc(90% - 200px);;
  }
  .pro{
    padding: 20px 25px;
  }
}

@media screen and (max-width: 768px) and (min-width: 478px){
  
  .contact span:nth-child(4){
    display: initial;
  }
  .contact span:nth-child(2),
  .contact span:nth-child(3){
    display: none;
  }
  #nav_checkbox:checked ~ .contact{
    display: flex;
    flex-direction: column;
    text-align: right;
    height: 100vh;
    width: 100vw;
    background: var(--burger_background);
    padding: 18px 45px 20px 0;
    z-index: 11;
  }
  #nav_checkbox:checked ~ .contact span{
    margin: 0 0 20px 0;
  }

  #nav_checkbox:checked ~ .contact span:nth-child(1),
  #nav_checkbox:checked ~ .contact span:nth-child(2),
  #nav_checkbox:checked ~ .contact span:nth-child(3){
    display: initial;
  }

  #nav_checkbox:checked ~ .contact span:nth-child(4){
    display: none;
  }
  .links{
    right: 40px;
    top: 0;
  }
  .details a{
    font-size: 20px;
  }
  .icon a:hover{
    color: var(--hover);
  }
  .icon:hover ~ .link{
    width: 0;
    overflow: hidden;
    padding: 0;
  }
}

@media screen and (max-width: 478px) {
  .nav_bar span{
    margin-right: 10px;
    margin-left: 10px;
  }
  .projects_text a::after{
    content: '';
  }
  
  .skills_text a::after{
    content: '';
  }
  
  .contact_text a::after{
    content: '';
  }
  
  .home_text a::after{
    content: '';
  }
  .home_text .active::after{
    content: 'home';
    transition: 0.5s;
  }
  .contact_text .active::after{
    content: 'contact';
    transition: 0.5s;
  }
  .skills_text .active::after{
    content: 'skills';
    transition: 0.5s;
  }
  .projects_text .active::after{
    content: 'projects';
    transition: 0.5s;
  }
  .about h1{
    font-size: 25px;
  }
  .extra_tab{
    height: 150px;
    width: 150px;
    left: 75px;
  }
  .box{
    position: relative;
    flex-direction: column;
    height: 500px;
  }
  .view{
    margin-top: 15px;
    height: 200px;
    width: calc(100% - 30px);
  }
  .text{
    margin-top: 20px;
    width: calc(100% - 30px);
    height: auto;
  }
  .details > p{
    height: 170px;
    -webkit-line-clamp: 7;
  }
  .links{
    bottom: -10px;
  }
  .icon:hover ~ .link{
    width: auto;
    overflow: hidden;
    padding: 0 15px 0 50px;
  }
}